.footer {
    width: 100%;
    min-height: 250px;
    background: #21325e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    margin-top: 300px;
}

.socialMedia svg {
    color: white;
    margin: 15px;
    margin-top: 45px;
    margin-bottom: 10px;
    font-size: 90px;
    cursor: pointer;
    transition: 0.3s;
}

.footer p {
    color: white;
}

.socialMedia svg:hover {
    transform: scale(1.3);
}


@media only screen and (max-width: 800px) {
    .footer svg {
        font-size: 70px;
    }

    .footer {
        font-size: 20px;
        min-height: 150px;
        margin-top: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .footer svg {
        font-size: 50px;
    }

    .footer {
        font-size: 15px;
    }
}
