.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;

    align-items: center;
    flex-direction: column;
}

.project h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3e497a;
    font-size: 50px;
}

.project img {
    width: 550px;
    border-radius: 15px;
}

.project .skillsText {
    font-size: 40px;
    margin-top: 25px;
}

.project p {
    font-size: 30px;
    color: #3e497a;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.project svg {
    font-size: 75px;
    color: #3e497a;
}

.project a {
    margin-top: 35px;
}

.project a:hover {
    transform: scale(1.4);
}

.project a {
    transition: 0.3s;
}